.meal-item {
    background-color: var(--primary-white);
    border-radius: 25px;
    margin: 10px;
    padding: 1rem;
    width: auto;
    display: grid;
    position: relative;
    box-shadow: 10px 10px 12px -8px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 10px 10px 12px -8px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 10px 10px 12px -8px rgba(0, 0, 0, 0.31);
}

.meal-item__image {
    width: 100%;
    display: flex;

}

.meal-item__image>img {
    width: 80%;
    margin: auto;
    aspect-ratio: 1;
}

.meal-item__actions {
    position: absolute;
    bottom: 1.5rem;
    right: 1.3rem;
}

.meal-item__actions button {
    background-color: var(--primary-orange);
    color: var(--primary-white);
    border: none;
    border-radius: 100%;
    width: 50px;
    aspect-ratio: 1;
    font-size: 25px;


}

.meal-item__actions button:hover {
    /* color: var(--primary-orange);
    background-color: var(--primary-white);
     */
    background-color: var(--dark-orange);
    transform: scale(1.1);
    cursor: pointer;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 9px 9px 23px #e8e8e8, -9px -9px 23px #ffffff;
    box-shadow: 9px 9px 23px #e8e8e8, -9px -9px 23px #ffffff;
}