.side-bar {
    background-color: var(--primary-white);
    color: var(--secondary-black);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 2px 36px -20px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 3px 2px 36px -20px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 3px 2px 36px -20px rgba(0, 0, 0, 0.56);

}

.brand {
    margin: .5rem 0 1.5rem;

}

.brand_name {
    font-size: 2.4rem;
}

.brand_image {
    max-width: 80%;
    margin: auto;
    color: var(--primary-orange);
}



nav>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav>ul>li>a {
    display: block;
    text-decoration: none;
    margin: .5rem;
    padding: 1rem .8rem;
    border-radius: 15px;
    color: var(--secondary-black);
    font-size: 1.2rem;
}

.active,
nav>ul>li>a:hover {
    background-color: var(--primary-orange);
    color: var(--primary-white)
}


.nav_link {
    margin-left: 10px;
}

@media (max-width:480px) {

    .nav_link {
        display: none;
    }

    .side-bar {
        width: 15%;
        padding: 0;

    }

    .brand_image {
        max-width: 100%;
        margin: auto;
    }

    .active {
        color: var(--primary-orange);
        background-color: var(--primary-white)
    }

    nav>ul>li>a {

        padding: 1rem .5rem;

    }
}