.side-bar {
    background-color: var(--primary-white);
    color: var(--secondary-black);
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.5rem 1rem;
    grid-area: sidebar;
}

.brand {
    margin: .5rem 0 1.5rem;

}

.brand_name {
    font-size: 2.4rem;
}

.brand_image {
    max-width: 80%;
    margin: auto;
    color: var(--primary-orange);
}



.side-bar>main>nav>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.side-bar>main>nav>ul>li>a {
    display: block;
    text-decoration: none;
    margin: .5rem;
    padding: 1rem .8rem;
    border-radius: 15px;
    color: var(--secondary-black);
    font-size: 1.2rem;
    /* display: flex;
    place-items: center; */

}

.side-bar>main>nav>ul>li>a.active,
.side-bar>main>nav>ul>li>a:hover {
    background-color: var(--primary-orange);
    color: var(--primary-white)
}


.nav_link {
    margin-left: 10px;
}

@media (max-width:480px) {
    .side-bar {
        width: 100%;
        padding: 1rem 0;
        height: fit-content;
        bottom: 0;
        z-index: 2;
        display: flex;

    }

    /* .nav_link {
        display: none;
    } */


    .brand_image {
        max-width: 10%;
        margin: auto;
        display: none;
    }

    .side-bar>main>nav>ul>li>a.active {
        color: var(--primary-orange);
        background-color: var(--primary-white)
    }

    .side-bar>main>nav>ul>li>a {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;

    }

    .side-bar>main>nav>ul {
        /* background-color: red; */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .side-bar>main {
        width: 100%;
    }
}