@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --primary-orange: rgb(251, 153, 0);
  --primary-white: rgb(255, 255, 255);
  --secondary-black: rgb(52, 52, 56);
  --secondary-red: rgb(200, 22, 29);
  --bg-color: rgb(250, 248, 249);
  --secondary-color: rgb(254, 236, 212);
}

body {
  background-color: var(--bg-color);
  color: var(--secondary-black);
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}